<nav class="pagination" role="navigation">
  {% if paginate.previous %}
    <a href="{{ paginate.previous.url }}" class="pagination__prev">
      {% render 'icon', name: 'chevron-left', size: 16 %}
      Previous
    </a>
  {% endif %}
  <span class="pagination__page">Page {{ paginate.current_page }} of {{ paginate.pages }}</span>
  {% if paginate.next %}
    <a href="{{ paginate.next.url }}" class="pagination__next">
      Next
      {% render 'icon', name: 'chevron-right', size: 16 %}
    </a>
  {% endif %}
</nav>
