<section class="main-404">
  <div class="page-width">
    <div class="main-404__content">
      <h1 class="main-404__title">404</h1>
      <p class="main-404__text">Page not found</p>
      <a href="{{ routes.root_url }}" class="btn btn--primary">Back to Home</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main 404",
  "settings": [],
  "presets": [
    {
      "name": "Main 404"
    }
  ]
}
{% endschema %}
